@font-face {
    font-family: 'Font-Paw-Patrol';
    src: url('/fuentes/GROBOLD.ttf');
    font-style: normal;
    font-weight: normal;
}

$Blue :  hsl(197, 94%, 42%);
$Blue-gradiant :  hsl(197, 69%, 54%);
$blue_title:hsl(201, 100%, 30%);
$Gray: rgba(216, 102, 102, 0.753);
$Bisque: rgba(255, 249, 196, 0.315);
$White:hsla(0, 0%, 100%, 0.911);
$Color_chase:hsl(230, 64%, 21%);
$color_sky:hsl(343, 100%, 75%);
$color_rocky:hsl(143, 100%, 35%);
$color_marshall:hsl(4, 100%, 56%);
$color_rabel:hsl(53, 100%, 49%);
$color_zuma: hsl(26, 79%, 45%);

